      <% @blogs.each do |blog| %>
      <div class="card white">
        <div class="card-content">
          <span class="card-title"><%= blog.title %></span>
          <p><%= blog.text %></p>
        </div>
        <div class="card-action">
          <a href="/blogs/<%= blog.id %>">詳細</a>
          <% if user_signed_in? && current_user.id == blog.user_id %>
          <a href="/blogs/<%= blog.id %>/edit">編集</a>
          <a href="/blogs/<%= blog.id %>" data-method="delete">削除</a>
          <% end %>
        </div>
      </div>
      <% end %>
